@import url('https://fonts.googleapis.com/css2?family=PT+Serif&display=swap');

body {
  font-size: 1rem;
  background-color: bisque;
}

button {
  height: 1.4rem;
  background-color: chartreuse;
  border: 1px solid black;
  border-radius: 0.1rem;
  cursor: pointer;
}

input {
  border: 1px solid black;
  border-radius: 0.3rem;
  padding: 0.2rem 0;
  text-align: center;
}

input:focus {
  outline: none;
  background-color: aqua;
}

h1 {
  text-align: center;
  margin-bottom: 5rem;
  text-decoration: underline wavy;
}

section {
  display: flex;
  width: 100vw;
}

.board-part {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.board-header {
  display: flex;
  align-items: center;
  gap: 3rem;
}

.leaderboard {
  list-style: none;
  width: 50%;
}

.leaderboard li {
  background-color: beige;
  display: flex;
}

.leaderboard li:nth-child(odd) {
  background-color: blueviolet;
  color: aliceblue;
}

.name {
  flex: 5;
}

.score {
  flex: 10;
}

.add-score {
  flex: 1;
  display: flex;
  gap: 1rem;
  flex-direction: column;
}

.add-score input {
  width: 30%;
}

.add-score button {
  max-width: 15%;
  position: relative;
  right: -16%;
  font-size: 1vw;
}

@media screen and (max-width: 600px) {
  section {
    display: block;
  }

  .add-score {
    align-items: center;
  }
}
